// default highlight color
// TODO: add inner span to highlightened annotations that will appear with annotation type icons
.annotation__highlight
  background: #fffbcc
// location highlight color
.annotation__location
  background: #25e8f2
// person highlight color
.annotation__person
  background: #fffbcc
// location highlight color
.annotation__place
  background: #ff69b4

